
#header{
  text-align: center;
  color: #f88c0f;
  opacity: 100% !important;
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 6px;
  font-family: 'IM Fell DW Pica', serif;
}


#screen {
  min-height: 100vh !important;
  width: 100vw;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  background-color: rgba(0,0,0,0.7);
  color: white;
}

body{
  background-color: rgb(255, 255, 255);
  height: 100-vh !important;

}

.container-planet {
  position: relative;
  width: 100%;
  max-width: 250px;
  margin: 10px auto;
}

.container-home {
  position: relative;
  width: 100%;
  max-width: 270px;
  margin: 0 auto;
}


.clouds:before {
  content:"";
  position:absolute;
  width:7px;
  height: 7px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  top:-10px;
  box-shadow: -70px 130px rgba(255,255,255,0.854), 230px 130px rgba(255,255,255,0.854), 50px 310px rgba(255,255,255,0.854), 250px 100px rgba(255,255,255,0.9), 220px 15px rgba(255,255,255,0.9), -50px 9px rgba(255,255,255,0.9), 15px 200px rgba(255,255,255,0.9);
}

.clouds:after {
  content:"";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgb(254, 254, 254);
  left:50px;
  top:20px;
  box-shadow: -10px 100px rgba(255,255,255,0.854), 30px 130px rgba(255,255,255,0.854)
}


.planet {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #00a5cf;
  border-radius:50%;
  overflow:hidden;

}

.planet:before {
  content:"";
  position: absolute;
  background-color: #368715;
  width:100px;
  height:25px;
  border-radius:20px;
  left:15px;
  box-shadow:60px 25px #00a5cf,25px 25px #368715, -25px 25px #368715, 50px 50px #368715, -15px 50px #368715, 90px 75px #00a5cf,30px 75px #368715, -15px 75px #368715, -25px 0px #368715;
  top:100px;

}

.planet:after {
  content:"";
  position: absolute;
  width:200px;
  height:200px;
  border-radius: 50%;
  top:0;
  box-shadow: inset -10px 10px rgba(0,0,0,0.2);

}
.up {
  position: absolute;
  background-color: #00a5cf;
  width:200px;
  height:100px;
  border-radius: 100px 100px 0 0;
  top:0;
  overflow:hidden;

}

.up:before {
  content:"";
  position: absolute;
  background-color: #368715;
  width:100px;
  height:25px;
  border-radius:20px;
  left:-10px;
  box-shadow:60px 25px #00a5cf,25px 25px #368715, -25px 25px #368715, 50px 50px #368715, -5px 50px #368715, 90px 75px #00a5cf,30px 75px #368715, -10px 75px #368715;
}

.up:after {
  content:"";
  position: absolute;
  width:200px;
  height:100px;
  border-radius: 100px 100px 0 0;
  top:0;
  box-shadow: inset -10px 10px rgba(0,0,0,0.2);
}
//!SWISS MOON
.swiss {
  position: absolute;
  width:40px;
  height:40px;
  box-shadow: inset -5px 5px rgba(0,0,0,0.2);
  border-radius:50%;
  top:-135px;
  left:-175px;
  overflow:hidden;
  offset-path: path("M280.25,191c38.55,0,74.78,5.44,102,15.32C409.18,216.08,424,228.93,424,242.5s-14.82,26.42-41.74,36.18C355,288.56,318.8,294,280.25,294s-74.78-5.44-102-15.32c-26.91-9.76-41.74-22.61-41.74-36.18s14.83-26.42,41.74-36.18c27.24-9.88,63.47-15.32,102-15.32m0-1c-79.95,0-144.76,23.51-144.76,52.5S200.3,295,280.25,295,425,271.49,425,242.5,360.19,190,280.25,190Z");
  animation: move 11s linear infinite;
}

//! GREEK MOON

.greece {
  position: absolute;
  width:40px;
  height:40px;
  box-shadow: inset -5px 5px rgba(0,0,0,0.2);
  border-radius:50%;
  top:-135px;
  left:-175px;
  overflow:hidden;
  offset-path: path("M280.25,191c38.55,0,74.78,5.44,102,15.32C409.18,216.08,424,228.93,424,242.5s-14.82,26.42-41.74,36.18C355,288.56,318.8,294,280.25,294s-74.78-5.44-102-15.32c-26.91-9.76-41.74-22.61-41.74-36.18s14.83-26.42,41.74-36.18c27.24-9.88,63.47-15.32,102-15.32m0-1c-79.95,0-144.76,23.51-144.76,52.5S200.3,295,280.25,295,425,271.49,425,242.5,360.19,190,280.25,190Z");
  animation: move 10s linear infinite;
}


//! Romania MOON

.romania {
  position: absolute;
  width:40px;
  height:40px;
  box-shadow: inset -5px 5px rgba(0,0,0,0.2);
  border-radius:50%;
  top:-135px;
  left:-175px;
  overflow:hidden;
  offset-path: path("M280.25,191c38.55,0,74.78,5.44,102,15.32C409.18,216.08,424,228.93,424,242.5s-14.82,26.42-41.74,36.18C355,288.56,318.8,294,280.25,294s-74.78-5.44-102-15.32c-26.91-9.76-41.74-22.61-41.74-36.18s14.83-26.42,41.74-36.18c27.24-9.88,63.47-15.32,102-15.32m0-1c-79.95,0-144.76,23.51-144.76,52.5S200.3,295,280.25,295,425,271.49,425,242.5,360.19,190,280.25,190Z");
  animation: move 9s linear infinite;
}


//! UK MOON

.uk {
  position: absolute;
  width:40px;
  height:40px;
  box-shadow: inset -5px 5px rgba(0,0,0,0.2);
  border-radius:50%;
  top:-135px;
  left:-175px;
  overflow:hidden;

  offset-path: path("M280.25,191c38.55,0,74.78,5.44,102,15.32C409.18,216.08,424,228.93,424,242.5s-14.82,26.42-41.74,36.18C355,288.56,318.8,294,280.25,294s-74.78-5.44-102-15.32c-26.91-9.76-41.74-22.61-41.74-36.18s14.83-26.42,41.74-36.18c27.24-9.88,63.47-15.32,102-15.32m0-1c-79.95,0-144.76,23.51-144.76,52.5S200.3,295,280.25,295,425,271.49,425,242.5,360.19,190,280.25,190Z");
  animation: move 8s linear infinite;
}

//! LEBANON MOON

.lebanon {
  position: absolute;
  width:40px;
  height:40px;
  box-shadow: inset -5px 5px rgba(0,0,0,0.2);
  border-radius:50%;
  top:-135px;
  left:-175px;
  overflow:hidden;
  offset-path: path("M280.25,191c38.55,0,74.78,5.44,102,15.32C409.18,216.08,424,228.93,424,242.5s-14.82,26.42-41.74,36.18C355,288.56,318.8,294,280.25,294s-74.78-5.44-102-15.32c-26.91-9.76-41.74-22.61-41.74-36.18s14.83-26.42,41.74-36.18c27.24-9.88,63.47-15.32,102-15.32m0-1c-79.95,0-144.76,23.51-144.76,52.5S200.3,295,280.25,295,425,271.49,425,242.5,360.19,190,280.25,190Z");
  animation: move 7s linear infinite;
}


@keyframes move {
  to {
    offset-distance: 50%;
  }
}
//! LOGIN FORM
@import url('https://fonts.googleapis.com/css?family=Numans');

input{
  color: rgb(0, 0, 0) !important;
}



.card{
height: 250px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(255,255,255,0) !important;
border-radius: 10px;
}

.login{
  margin: 0px auto;
}
#select-country{
  text-align: center;
  color: white;
  margin: 20px auto 20px auto;
  padding: 0px;
  font-size: 18px;
  font-weight: bolder;
}


.input-group-prepend span{
width: 50px;
background-color: #ff9012;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #ff9012;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: rgba(255, 255, 255, 0.139);
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.log-in-button {
  color: white !important;
  border-color: white;
  background-color: rgba(0,0,0,0.5);
}


.other-button {
  color: black !important;
  border-color: black;
  border-radius: 8px;
  font-size: small;
}

#country-dropdown {
  color: white !important;
  border-color: white;
  margin: 0px 0px 0px 0px !important;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
}

.background-home {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  opacity: 1;
  background-blend-mode: multiply;
  background-size: cover;
  z-index: -1;
}
