@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);
body{background-color: #D32F2F;}
.mt-100{margin-top: 100px}
.mb-100{margin-bottom:100px}
.card{position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;min-width: 0;word-wrap: break-word;background-color: #fff;background-clip: border-box;border: 0px solid transparent;border-radius: 0px}.card-body{-webkit-box-flex: 1;-ms-flex: 1 1 auto;flex: 1 1 auto;padding: 1.25rem}.cardo .card-title{position: relative;font-weight: 600;margin-bottom: 10px}.comment-widgets{position: relative;margin-bottom: 10px}.comment-widgets .comment-row{border-bottom: 1px solid transparent;padding: 14px;display: -webkit-box;display: -ms-flexbox;display: flex;margin: 10px 0}.p-2{padding: 0.5rem !important}.comment-text{padding-left: 15px}.w-100{width: 100% !important}.m-b-15{margin-bottom: 15px}.btn-sm{padding: 0.25rem 0.5rem;font-size: 0.76563rem;line-height: 1.5;border-radius: 1px}.btn-cyan{color: #fff;background-color: #27a9e3;border-color: #27a9e3}.btn-cyan:hover{color: #fff;background-color: #1a93ca;border-color: #198bbe}
.comment-widgets
.comment-row:hover{background: rgba(0, 0, 0, 0.05)}
body {
  background-color: #ffb6b6
}


.cardo {

  border: #f88c0f;
  box-shadow: 2px 2px 2px 2px #d9790c;
  border-radius: 8px;
}


.user-img{

  margin-top: 1px;
}

.check-icon{

  font-size: 17px;
  color: #f08914;
  top: 1px;
  position: relative;
  margin-left: 3px;
}

.form-check-input{
  margin-top: 6px;
  margin-left: -24px !important;
  cursor: pointer;
}


.form-check-input:focus{
  box-shadow: none;
}


.icons i{

  margin-left: 15px;
}
.reply{

  margin-left: 20px;
}

.reply small{

  color: #b7b4b4;

}


.reply small:hover{

  color: green;
  cursor: pointer;

}
