<div class="footer text-center">
  <nav class="nav">
    <div class="footer-links mx-auto">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </nav>
  <div class="footer-copyright">
    <i class="fa-regular fa-copyright"></i> 2022 The <i class="fa-regular fa-4"></i> Mangos
  </div>

</div>
