
<div class="navigation">
  <div class="logo">
    <a class="no-underline" href="/countries/1">
      Migrating Mango
    </a>
  </div>
  <div class="navigation-search-container">
    <i class="fa fa-search"></i>
    <input class="search-field" type="text" placeholder="Search">
    <div class="search-container">
      <div class="search-container-box">
        <div class="search-results">

        </div>
      </div>
    </div>
  </div>
  <div class="navigation-icons">
    <a href="#" target ="_blank" class="navigation-link">
      <i class="far fa-compass"></i>
    </a>
    <a class="navigation-link notifica">
      <i class="far fa-heart">
        <div class="notification-bubble-wrapper">
          <div class="notification-bubble">
            <span class="notifications-count">99</span>
          </div>
        </div>
      </i>
    </a>
    <a href="#" class="navigation-link">
      <i class="far fa-user-circle"></i>
    </a>
    <a>
      <%= link_to ('<i class="fas fa-sign-out-alt"></i>').html_safe, destroy_user_session_path, data: {turbo_method: :delete}, class: "navigation-link", id: "signout" %>
    </a>
  </div>
  <script src="navbar.js"></script>
</div>
