<<<<<<< HEAD
<div class="wrapper">
        <header>
          <nav>
              <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
              </div>
              <div class="logo">
                LOGO
              </div>
              <div class="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
              </div>
          </nav>
        </header>
        <div class="content">
          <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
          <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
    </div>
=======
<div class="navigation">
  <div class="logo">
    <a class="no-underline" href="#">
      Migrating Mango
    </a>
  </div>
  <div class="navigation-search-container">
    <i class="fa fa-search"></i>
    <input class="search-field" type="text" placeholder="Search">
    <div class="search-container">
      <div class="search-container-box">
        <div class="search-results">

        </div>
      </div>
    </div>
  </div>
  <div class="navigation-icons">
    <a href="#" target ="_blank" class="navigation-link">
      <i class="far fa-compass"></i>
    </a>
    <a class="navigation-link notifica">
      <i class="far fa-heart">
        <div class="notification-bubble-wrapper">
          <div class="notification-bubble">
            <span class="notifications-count">99</span>
          </div>
        </div>
      </i>
    </a>
    <a href="#" class="navigation-link">
      <i class="far fa-user-circle"></i>
    </a>
    <a href="#" id="signout" class="navigation-link">
      <i class="fas fa-sign-out-alt"></i>
    </a>
  </div>
  <script src="navbar.js"></script>
</div>
>>>>>>> db643f7778159fd14b173d988ca21622b51135c2
