

<div id="header"><h1>MIGRATING</h1></div>
<div id="mango"><h1>Mango</h1></div>
<div class="container container-home">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="container container-home">
        <div class="clouds"></div>
        <div class="planet"></div>
        <a href="countries/1"><div class="swiss"></div></a>
        <div class="greece"></div>
        <div class="romania"></div>
        <div class="uk"></div>
        <div class="lebanon"></div>
        <div class="up"></div>
      </div>
    </div>
  </div>
</div>
<div class="container-home">
	<div class="d-flex justify-content-center h-40 login">
		<div class="card">
			<div class="card-body">
				<form>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="username">

					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="password">
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div>
					<div class="form-group">
						<input type="submit" value="Login" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a href="users/sign_up">Sign Up</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="#">Forgot your password?</a>
				</div>
			</div>
		</div>
	</div>
</div>






























  </div>
</div>
