

<div id="header"><h1>MIGRATING</h1></div>
<div id="mango"><h1>Mango</h1></div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="container">
        <div class="clouds"></div>
        <div class="planet"></div>
        <a href="countries/1"><div class="swiss"></div></a>
        <div class="greece"></div>
        <div class="romania"></div>
        <div class="uk"></div>
        <div class="lebanon"></div>
        <div class="up"></div>
      </div>
    </div>
  </div>
</div>
<div class="mb-3 row">
  <label for="staticEmail" class="col-sm-2 col-form-label text-white">Email</label>
  <div class="col-sm-10">
    <input type="text" readonly class="form-control-plaintext text-white" id="staticEmail" value="email@example.com">
  </div>
</div>
<div class="mb-3 row">
  <label for="inputPassword" class="col-sm-2 col-form-label text-white">Password</label>
  <div class="col-sm-10">
    <input type="password" class="form-control" id="inputPassword">
  </div>
</div>































  </div>
</div>
