

<div class="title"><h1>MIGRATING MANGO</h1></div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="container mx-auto">
        <div class="clouds"></div>
        <div class="planet"></div>
        <a href="countries/1"><div class="swiss"></div></a>
        <div class="greece"></div>
        <div class="romania"></div>
        <div class="uk"></div>
        <div class="lebanon"></div>
        <div class="up"></div>
      </div>
    </div>
  </div>
</div>






























  </div>
</div>
