<div class="new-user-profile-form container">
  <h2>Your details</h2>
  <%= render "form", user_profile: @user_profile %>
</div>

<%# The edit method doesn't impact user tasks which I think is a good thing...? If they ticked "has a job offer" maybe it could delete the task "Apply for jobs"? %>
