<div class="container">
  <h1 class="mb-4">Welcome to Switzerland!</h1>

  <div class="input-group rounded mb-4">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <span class="input-group-text border-0" id="search-addon">
      <i class="fas fa-search"></i>
    </span>
  </div>

  <div class="row gy-5 justify-content-center">
    <% Topic.order(:title).each do |topic| %>
      <%= render "countries/topic_card", topic: topic %>
    <% end %>
  </div>
</div>
