<div class="container">
  <h1 class="mb-4">Welcome to Switzerland!</h1>

  <div class="input-group rounded mb-4">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <span class="input-group-text border-0" id="search-addon">
      <i class="fas fa-search"></i>
    </span>
  </div>

  <div class="row gy-5 justify-content-center">
    <div class="col-6">
      <div class="tile">
        <% if user_signed_in? %>
          <%= link_to "My Profile", user_profile_path(current_user) %>
        <% else %>
          <%= link_to "My Profile", new_user_registration_path %>
        <% end %>
      </div>
    </div>

     <div class="col-6">
      <div class="tile">
        <% if user_signed_in? %>
          <%= link_to "My Tasks", user_profile_user_tasks_path(current_user) %>
        <% else %>
          <%= link_to "My Tasks", new_user_registration_path %>
        <% end %>
      </div>
    </div>

     <div class="col-6">
      <div class="tile">Permits</div>
    </div>

     <div class="col-6">
      <div class="tile">Emergency</div>
    </div>

     <div class="col-6">
      <div class="tile">Work</div>
    </div>

     <div class="col-6">
      <div class="tile">Housing</div>
    </div>

     <div class="col-6">
      <div class="tile">Pets</div>
    </div>

     <div class="col-6">
      <div class="tile">Recycling</div>
    </div>

     <div class="col-6">
      <div class="tile">Transport</div>
    </div>

     <div class="col-6">
      <div class="tile">Health</div>
    </div>

  </div>
</div>
