.footer-links {
  font-size: 25px;
  color: #fc0404;
  margin: 3px;
}
.footer {
  background: #ffffff;
  padding: 3px 0px;
}
.footer a {
  color: inherit;
}
.footer-copyright {
  font-size: 12px;
  margin-bottom: 4px;
}
