.footer-links {
  font-size: 25px;
<<<<<<< HEAD
  color: #000000;
  margin: 3px;
}
.footer {
  background: #eb0808;
  padding: 3px 0px;
  flex-grow: 1;
  bottom: fixed;
=======
  color: #fc0404;
  margin: 3px;
}
.footer {
  background: #ffffff;
  padding: 3px 0px;
>>>>>>> master
}
.footer a {
  color: inherit;
}
.footer-copyright {
  font-size: 12px;
  margin-bottom: 4px;
}
