.navbar-lewagon {
  justify-content: space-between;
  background: rgba(255,255,255,0.3);
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: black;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.nav-link {
  color: black;
}
