.tasks-container {
  margin: 10px auto;
  text-align: center;
}

.tasks-container h1 {
  color: #f70100;
}

.card-product {
  overflow: hidden;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
  height: fit-content;

  h2 {
    font-weight: bold;
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    font-size: 17px;
  }

  .task-infos {
    position: relative;
  }

  .task-button {
    font-size: 12px;
    border-color: rgb(50,50,50);
    border-radius: 8px;
  }
}


.task {
  line-height: 80px !important;
  vertical-align: middle;
  text-align: center;
  margin: 0;
}

.task-bigger {
  height: 120px !important;
}

.card-product:hover {
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
  background: rgb(255,255,255);
  transition: all .1s ease-in-out;
  cursor: pointer;
}

.card-product img {
  height: 100%;
  width: 80px;
  object-fit: cover;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  // margin-bottom: 0;
  // margin-top: 8px;
  text-align: center;
}
