.tasks-container {
  margin: 10px auto;
  text-align: center;

  p {
    font-weight: 300;
  }
}

.tasks-container h1 {
  color: #f70100;
}

.card-product {
  overflow: hidden;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
  height: fit-content;
  background-color: rgba(255,255,255,0.7);

  h2 {
    font-weight: bold;
    padding: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    font-size: 14px;
    margin: 2px 0px 0px 0px;
  }

  .task-infos {
    position: relative;

    .caret {
      position: absolute;
      right: 3%;
      top: 20%;
      z-index: 998;
    }
  }

  .task-button {
    font-size: 12px;
    border-color: rgb(50,50,50);
    border-radius: 8px;
    z-index: 999;
    padding: 4px 0px 2px 0px;
    position: relative;
    background-color: white;
  }
}

.card-product-completed {
  overflow: hidden;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
  height: fit-content;
  background-color: lightgrey;

  h2 {
    font-weight: bold;
    padding: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    font-size: 14px;
    margin: 2px 0px 0px 0px;
    text-decoration: line-through;
  }

  .task-infos {
    position: relative;

    .caret {
      position: absolute;
      right: 3%;
      top: 20%;
      z-index: 998;
    }
  }

  .task-button {
    font-size: 12px;
    border-color: rgb(50,50,50);
    border-radius: 8px;
    z-index: 999;
    padding: 4px 0px 2px 0px;
    position: relative;
    background-color: white;
  }
}
 .task-show-action-button {
  background-color: rgb(235,235,235);

 }

.create-button {
  border-color: rgba(50,50,50, 0.8);
  border-radius: 8px;
  background-color: rbga(255,255,255,0.8);
  border: none;
}

.task {
  line-height: 80px !important;
  vertical-align: middle;
  text-align: center;
  margin: 0;
}

.task-bigger {
  height: 120px !important;
}

.card-product:hover {
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
  // background: rgb(255,255,255);
  // transition: all .1s ease-in-out;
  cursor: pointer;
}

.card-product-click {
  background-color: white !important;
}

.card-product-completed:hover {
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
  transition: all .1s ease-in-out;
  cursor: pointer;
}

.card-product img {
  height: 100%;
  width: 80px;
  object-fit: cover;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  // margin-bottom: 0;
  // margin-top: 8px;
  text-align: center;
}

.topic {
  padding: 1px 0px 0px 5px;
}

.title {
  padding: 0 20px 0 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

}
