<%= link_to user_profile_user_tasks_path(current_user.user_profile), class: "btn form-actions" do %>
  <i class="fa-regular fa-hand-point-left"></i>
  Go back
<% end %>
<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <div class="d-flex justify-content-between">
        <h2><%= @task.task.title %></h2>
        <span class="badge text-bg-danger text-white"><%= @task.status %></span>
      </div>
      <p><%= @task.task.content %></p>
    </div>
  </div>
</div>
